html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
header {
  width: 100%;
  height: 15%;
  padding-top: 25px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
}

header h1 {
  text-align: center;
  margin: 0;
}
.container {
  position: relative;
  height: 85%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: #23074d;
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);
  background: linear-gradient(to right, #cc5333, #23074d);
}
.score-container {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  color: white;
}
#score {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 25px;
  width: 100%;
}
.user {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  font-size: 20px;
  padding: 2px 10px;
  box-sizing: border-box;
}

.com {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translate(50%, -50%);
  background: black;

  font-size: 20px;
  padding: 2px 10px;
  box-sizing: border-box;
}
.buttons {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}


.bn {
	
  width: 80px;
  height: 80px;
  margin: 5px;
  border: 3px solid #34495e;
  border-radius: 50%;
  color: #34495e;
  font-size: 40px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(255 255 255 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(255 158 0) 0px 2px 1px, #23074d 0px 4px 2px, rgb(255 139 0) 0px 8px 4px, rgb(212 0 0 / 96%) 0px 16px 8px, rgb(83 15 80 / 0%) 0px 32px 16px;
}
  
  

.bn:hover {
	
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: white;
  color: white;
  background-position: right center;
  
}
#challenge {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  width: 540px;
  height: 40%;
  display: none;
}
#you {
  position: relative;
  width: 37.5%;
  font-size: 50px;
}
#com {
  position: relative;
  width: 37.5%;
  font-size: 50px;
}
#YourObject {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 3px solid #34495e;
  border-radius: 50%;
  color: #34495e;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}
#ComObject {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 3px solid #34495e;
  border-radius: 50%;
  color: #34495e;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}
#result {
  position: relative;
  width: 25%;
}
#result p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  width: 100%;
  margin: 0;
  text-align: center;
}
.who {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
}
.green {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid lime;
  box-shadow: 0 0 10px lime;
  border-radius: 50%;
  color: #34495e;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.red {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid red;
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  color: #34495e;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.gray {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid rgb(255, 166, 0);
  box-shadow: 0 0 10px rgb(255, 166, 0);
  border-radius: 50%;
  color: #34495e;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
